[v-cloak] {
	display: none;
}

@media (min-width: 768px){
	.auto-center-min {
    	margin-left: auto !important;
    	margin-right: auto !important;
    	width: 100% !important;   
    	padding-left: 10% !important;
   		 /*padding-right: 10% !important;*/ 
	}
}

@media (min-width: 769px){
.auto-center {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50em !important;   
    padding-left: 10% !important;
    /*padding-right: 10% !important;*/ 
	}
}

#keyboard{
	display: none !important;
}

.topbar-height {
	height: 110% !important;
}

.bottombar-height {
	height: 70px !important;
}

.status-on {
	background-color: #4BC73E !important;
}

.status-off {
	background-color: #DA4141 !important;
}

.status-idle {
	background-color: #EFBB4A !important;
}

.activation-criticity-R {
	font-weight: bold !important;
	color: #1D0F0F !important;
	background-color: #DF3737 !important;
}

.activation-criticity-B {
	font-weight: bold !important;
	color: #1D0F0F !important;
	background-color: #EAE9E9 !important;
}

.activation-criticity-V {
	font-weight: bold !important;
	color: #1D0F0F !important;
	background-color: #92DB8A !important;
}

.activation-criticity-G {
	font-weight: bold !important;
	color: #1D0F0F !important;
	background-color: #E4E255 !important;
}

.activation-bar-height {
	line-height: 3 !important;
	font-weight: bold;
	font-size: 1.2em;
}

.app-content {
	background-color: #BEBEC0 !important;
}

.app-page {
	background-color: #BEBEC0 !important;
}

.zero-margin-section {
	margin: 16px !important;
}

.text-center{
	text-align: center !important;
}

/*lOADER*/
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 120%;
  height: 120%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/*END LOADER*/