<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
<title>Mobile POC</title>
<link rel="stylesheet" href="example/appjs/app.min.css">
<link rel="stylesheet" type="text/css" href="menu/css/default.css" />
<link rel="stylesheet" type="text/css" href="menu/css/component.css" />
<link rel="stylesheet"
	href="example/jasny-bootstrap/css/jasny-bootstrap.min.css">

<style>
/* TODO */
</style>

</head>

<body>
	<script src="menu/js/classie.js"></script>
	<script type="text/javascript" language="javascript"
		src="example/example.nocache.js"></script>
	<iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1'
		style="position: absolute; width: 0; height: 0; border: 0"></iframe>
	<!-- page structured app -->

	<div class="app-page" id="mainPage" data-page="mainPage">
		<div class="app-topbar">
			<div id="header" class="app-title">{{title}}</div>
			<div id="showLeft" class="app-button">Show Menu</div>
		</div>
		<div id="pushableContent" class="cbp-spmenu-push">
			<div class="app-content">

				<div class="app-section">
					<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left"
						id="cbp-spmenu-s1">
						<!-- <h3>Menu</h3> -->
						<div class="app-section">
							<div class="app-button" id="firstMenuBtn">Next Page</div>
						</div>
						<div class="app-section">
							<div class="app-button" id="secondtMenuBtn">Button</div>
						</div>
						<div class="app-section">
							<div class="app-button">Button</div>
						</div>
						<div class="app-section">
							<div class="app-button">Button</div>
						</div>						
					</nav>					
					<label>Appify Status</label>
					<ul class="app-list app-section">
						<li v-repeat="items">{{$value}}</li>
						<li class="battery-charging-{{batteryStatus.charging}}">Battery
							Status: Charing: {{batteryStatus.charging}}, Level:
							{{batteryStatus.level}}</li>
						<li>Geolocation: {{position.timestamp}},
							{{position.coords.latitude}}, {{position.coords.longitude}}</li>
						<li>Screen: {{screen.availWidth}} * {{screen.availHeight}}</li>
						<li>Screen Orientation: {{screenOrientation.type}}</li>
					</ul>
					<div class="app-button">Send</div>
					<!-- <div id="getModelBtn" class="app-button">Read Current Model</div>
				<div id="getBatteryStatusBtn" class="app-button">Read Battery
					Status</div> -->
					<div id="fullScreenBtn" class="app-button">Request Full
						Screen</div>
					<div id="exitfullScreenBtn" class="app-button">Exit Full
						Screen</div>
					<!-- <div id="getModelFromStorageBtn" class="app-button">Get Model
					From Storage</div>
				<div id="changeValueBtn" class="app-button">ChangeValue</div> -->
					<div id="nextBtn" class="app-button">Go to Next Page</div>
				</div>
			</div>
		</div>
	</div>

	<div class="app-page" id="childPage" data-page="childPage">
		<div class="app-topbar">
			<div id="childPageBackBtn" class="app-button left">Back</div>
			<div class="app-title">{{child.title}}</div>
		</div>
		<div class="app-content">
			{{child.content}}
			<div class="app-section">
				<!-- radio buttons -->
				<p>
					<label>Radio buttons: </label>
					<p>One</p>
				<input type="radio" name="picked" value="one" v-model="picked">
				<p>Two</p>
				<input type="radio" name="picked" value="two" v-model="picked">
				<p>{{picked}}</p>
				</p>
			</div>
		</div>
	</div>
	<!-- end of page declaration -->
					<script src="menu/js/modernizr.custom.js"></script>
	<script src="example/appjs/zepto.js"></script>
	<script src="example/appjs/app.min.js"></script>
	<script src="example/vuejs/vue.js"></script>
	<script>
		var menuLeft = document.getElementById('cbp-spmenu-s1'), menuRight = document
				.getElementById('cbp-spmenu-s2'), menuTop = document
				.getElementById('cbp-spmenu-s3'), menuBottom = document
				.getElementById('cbp-spmenu-s4'), showLeft = document
				.getElementById('showLeft'), showRight = document
				.getElementById('showRight'), showTop = document
				.getElementById('showTop'), showBottom = document
				.getElementById('showBottom'), showLeftPush = document
				.getElementById('showLeftPush'), showRightPush = document
				.getElementById('showRightPush'), body = document.body;

		showLeft.onclick = function() {
			classie.toggle(this, 'active');
			classie.toggle(menuLeft, 'cbp-spmenu-open');
			disableOther('showLeft');
		};
		showRight.onclick = function() {
			classie.toggle(this, 'active');
			classie.toggle(menuRight, 'cbp-spmenu-open');
			disableOther('showRight');
		};
		showTop.onclick = function() {
			classie.toggle(this, 'active');
			classie.toggle(menuTop, 'cbp-spmenu-open');
			disableOther('showTop');
		};
		showBottom.onclick = function() {
			classie.toggle(this, 'active');
			classie.toggle(menuBottom, 'cbp-spmenu-open');
			disableOther('showBottom');
		};

		function disableOther(button) {
			if (button !== 'showLeft') {
				classie.toggle(showLeft, 'disabled');
			}
			if (button !== 'showRight') {
				classie.toggle(showRight, 'disabled');
			}
			if (button !== 'showTop') {
				classie.toggle(showTop, 'disabled');
			}
			if (button !== 'showBottom') {
				classie.toggle(showBottom, 'disabled');
			}

		}
	</script>

				</body>
</html>