<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Example App</display-name>
	<description>
		Simple web app mobile with Presenter/VMMV/Controller patterns using Bootstrap, App.js, Jquery and or Angular all with GWT
		PhoneGap use is encouraged for native app ditribution.
	</description>
	
	<filter>
      <filter-name>ExpiresFilter</filter-name>
      <filter-class>fr.xebia.servlet.filter.ExpiresFilter</filter-class>
      <init-param>
         <param-name>ExpiresByType text/cache-manifest</param-name>
         <param-value>access plus 0 seconds</param-value>
      </init-param> 
      <init-param>
         <param-name>ExpiresByType application/json</param-name>
         <param-value>access plus 0 seconds</param-value>
      </init-param>    
   </filter>
   
   <filter-mapping>
      <filter-name>ExpiresFilter</filter-name>
      <url-pattern>/*</url-pattern>
      <dispatcher>REQUEST</dispatcher>
   </filter-mapping>
   
   	<!-- questa servlet serve per generare il manifest -->
	<servlet>
		<servlet-name>ManifestGenerator</servlet-name>
		<servlet-class>it.appify.remote.offline.ManifestGenerator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManifestGenerator</servlet-name>
		<url-pattern>/manifest.appcache</url-pattern>
	</servlet-mapping>
	
	<!-- <servlet>
		<servlet-name>ManifestGenerator</servlet-name>
		<servlet-class>it.appify.poc.server.ManifestGenerator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManifestGenerator</servlet-name>
		<url-pattern>/manifest.appcache</url-pattern>
	</servlet-mapping> -->
	
</web-app> 