<!--FOOTER BAR COMPONENT -->
<script type="text/javascript">
Vue.component('emsmobile-footerbar', {
  template: "<nav class='bottombar-height bar bar-tab'>"+
		"<a class='tab-item'>"+
		"	<button id='refreshDumpBtn' class='btn btn-nav'>"+
		"		<span class='icon fa fa-refresh'></span> <span class='tab-label'>Aggiorna"+
		"			Dump</span>"+
		"	</button>"+
		"</a> <a class='tab-item'>"+
		"	<button class='btn btn-nav'>"+
		"		<span class='icon fa fa-exclamation-circle'></span> <span"+
		"			class='tab-label'>Codici Rossi</span>"+
		"	</button>"+
		"</a>	"+
	"</nav>"
})
</script>