#checkInAccels{
	margin-right:7px;
}
.btn-large{
	height: 6em;
}

.btn-medium{
	height: 4em;
}

.btn-small{
	height: 2em;
	top: 1px !important;
	margin-top:1px !important;
}

.btn-font-large{
	font-size: 22px;
	line-height:50px;
}

.btn-adapt{
	padding-left: 8px;
	padding-right: 8px;
}

