[v-cloak] {
	display: none;
}

.btn {
	top: 3px !important;
}

:focus {  
  /* border: 0 !important; */
  outline: white 0px !important;  
}

/* .btn:focus, .btn.focus{  
  border: 0 !important;  
}

.btn-primary:focus, .btn-primary.focus {  
  border: 0 !important;
}

.btn-outlined.btn-primary:active{  
  border: 0 !important;
} */


@media ( min-width : 768px) {
	.auto-center-min {
		margin-left: auto !important;
		margin-right: auto !important;
		width: 100% !important;
		padding-left: 10% !important;
		/*padding-right: 10% !important;*/
	}
}

@media ( min-width : 769px) {
	.auto-center {
		margin-left: auto !important;
		margin-right: auto !important;
		width: 50em !important;
		padding-left: 10% !important;
		/*padding-right: 10% !important;*/
	}
}

.status-on {
	/*verde*/
	background-color: #4BC73E !important;
}

.status-off {
	/**/
	background-color: #DA4141 !important;
}

.status-idle {
	background-color: #EFBB4A !important;
}

.activation-criticity-R {
	font-weight: bold !important;
	color: #1D0F0F !important;
	background-color: #DF3737 !important;
	border-radius: 5px;
}

.activation-criticity-B {
	font-weight: bold !important;
	color: #1D0F0F !important;
	background-color: #EAE9E9 !important;
	border-radius: 5px;
}

.activation-criticity-V {
	font-weight: bold !important;
	color: #1D0F0F !important;
	background-color: #92DB8A !important;
	border-radius: 5px;
}

.activation-criticity-G {
	font-weight: bold !important;
	color: #1D0F0F !important;
	background-color: #E4E255 !important;
	border-radius: 5px;
}

.activation-bar-height {
	line-height: 1.5 !important;
	font-weight: bold;
	font-size: 1.2em;
}

@media ( min-width : 400px and max-width: 400px) {
	.patient-center-bottom-btn {
		margin-left: 10px !important;
		margin-right: 10px !important;
		left: 10% !important;
		right: 5% !important;
		margin-top: 10px !important;
	}
}

@media ( max-width : 600px) {
	.patient-center-bottom-btn {
		margin-left: 10px !important;
		margin-right: 10px !important;
		left: 20% !important;
		right: 15% !important;
		margin-top: 10px !important;
	}
}

@media ( min-width : 601px) {
	.patient-center-bottom-btn {
		margin-left: 10px !important;
		margin-right: 10px !important;
		left: 29% !important;
		right: 45% !important;
		margin-top: 10px !important;
	}
}

.modal {
	z-index: 9999 !important;
}

.progress-cache {
	height: 4px;
	width: 0%;
	background-color: green !important;	
}

.progress-space{
	/* top: 5px; */
}

.input-form{
	height: 50px !important;
}