.font-large{
	font-size: large !important;
}

.font-xlarge{
	font-size: x-large !important;
}

.font-xxlarge{
	font-size: xx-large !important;
}

.font-medium{
	font-size: medium !important;
}

