<!-- SECOND PAGE -->
	<div class="app-page" id="childPage" data-page="childPage">
		<div class="app-topbar">
			<div id="childPageBackBtn" class="app-button left">Back</div>
			<div class="app-title">{{child.title}}</div>
		</div>
		<div class="app-content">
			{{child.content}}
			<div class="app-section">
				<!-- radio buttons -->
				<p>
					<label>Radio buttons: </label>
				<p>One</p>
				<input type="radio" name="picked" value="one" v-model="picked">
				<p>Two</p>
				<input type="radio" name="picked" value="two" v-model="picked">
				<p>{{picked}}</p>
				</p>
			</div>
		</div>
	</div>